<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoinSult</title>
    <link rel="stylesheet" href="{{url_for('static', filename='estilo.css')}}">
    
</head>
<main>
<header>
    <body>
        <header>
            <div class="logo1">
                <img src="img/LOGOMARCA2-removebg-preview.png" alt="logo site">
            </div>    
      
            <div class="titulo1">
                <p> Informa TI</p>
            </div>
        </header>
        <main>
            <div class="card">
                <div class="conten">
                    <h2>1</h2>
                    <h3>CATEGORIES</h3>
                    <p>Com o intuito explicativo/informativo acesse o card de categorias para ter as principais informaçoes da pesquisa
                        realisada para solucionar e elucidar sobre os 2 problemas propostos, sendo eles a inserção de pessoas a nova era digital
                        e como podemos melhor recebe-los nesse novo mundo. (referencias bibliograficas no final da pagina) </p>
                    <a href="categories.html">CATEGORIES</a>
                </div>
            </div>
            <div class="card">
                <div class="conten">
                    <h2>2</h2>
                    <h3>News</h3>
                    <p>Com intuito de familiarizar o usuario com o que ha de mais novo na tecnologia e mercado de trabalho
                        a aba "NEWS" disponibilizara uma serie de noticias atuais e relevantes para o usuario.
                    </p>
                    <a href="News.html">NEWS</a>
                </div>
            </div>
            <div class="card">
                <div class="conten">
                    <h2>3</h2>
                    <h3>Contact Us</h3>
                    <p>Pagina destina a pesquisa de satisfação e ao cadastro e contrato para com a empresa e os dev's do site</p>
                    <a href="contact.html">CONTACT US</a>
                </div>
            </div>
        
</header>
<body>

    
    
        
 



        {%block conteudo %}

        
        
        {%endblock %}
        
        
</body>
</main>
</html>